[submodule "tools/rawSerialMonitor"]
	path = tools/rawSerialMonitor
	url = https://github.com/Yanujz/rawSerialMonitor.git
[submodule "tools/bootloader_mega2560"]
	path = tools/bootloader_mega2560
	url = https://github.com/Yanujz/bootloader_mega2560.git
[submodule "tools/createNewAvrProject"]
	path = tools/createNewAvrProject
	url = https://github.com/Yanujz/createNewAvrProject.git
[submodule "tools/AsmCyclesCounter"]
	path = tools/AsmCyclesCounter
	url = https://github.com/Yanujz/AsmCyclesCounter.git
